{% extends 'layout.html' %}

{% block head %}
<title>Skim Unstructured Medical Abstracts</title>
{% endblock %}
<style>
    input {
        text-align: center;
    }

    ::-webkit-input-placeholder {
        text-align: center;
    }

    :-moz-placeholder {
        text-align: center;
    }
</style>

{% block body %}
<br>
<br>
<br>
<br>

<div class="form-floating">
    <form action='/' method='POST'>
        <textarea class="form-control" name='abstract' id="abstract"
            placeholder="Enter only unstructured RTC medical abstract with more than three lines."
            aria-label="Enter Abstract" rows="8"></textarea>
        <br>
        <input type='submit' class="override-button-font center-block btn btn-warning" value='Skim Abstract'>
    </form>
</div>

<!-- <form class="was-validated">
    <div class="mb-3">
      <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
      <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div>
    </div>
  
  </form> -->


{% endblock %}